<div class="container p-1">
  <div class="row gx-3 justify-content-between">
    <h4 class="h4">Resultado de la busqueda de: {{ ultimoTerminoBuscado }}</h4>

    <div
      *ngFor="let gif of gifsEncontrados; let i = index"
      class="col-lg-3 col-md-4 col-sm-6"
    >
      <div class="card zoom mt-3 animated fadeIn">
        <div class="card-header">
          <p class="card-title">
            <span class="badge rounded-pill bg-secondary">
              {{ i }}
            </span>
            {{ gif.title }}
          </p>
        </div>
        <img [src]="gif.images.downsized_medium.url" alt="{{ gif.title }}" />
        <div class="card-body">
          <div class="car-text">
            {{ gif.title }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
