/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

#sideBarRecord {
  height: 100%;
  min-height: 100vh;
}

.flexBox {
  display: flex;
}

.zoom {
  transition: all 1s ease;
}

.zoom:hover {
  transition: all 0.4s ease;
  transform: scale(1.05);
  box-shadow: 3px 3px 10px rgb(16, 19, 16);
}

hr {
  border-color: white;
}

/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
